.event {
  font-size: 2rem;
  text-align: center;

  &--ceremony,
  &--reception {
    display: flex;
    flex-direction: column;
  }

  &--heading {
    color: $color-mauve;
    font-size: 5rem;
  }

  &--date,
  &--time,
  &--location {
    font-family: $font-sans-serif;
  }
}
