// Colors
$color-maroon: hsl(344, 73%, 22%);
$color-mauve: hsl(351, 23%, 52%);
$color-sage: hsl(67, 24%, 28%);

// Fonts
$font-script: 'SugarScript', sans-serif;
$font-sans-serif: 'Montserrat', sans-serif;
